:root {
  --primary: #c678dd;
  --secondary:#444c56;
  --bg-color: #22272e;
  --bg-input: #22272e;
  --bg-button: #2d333b;
  --heading-color: #ffffff;
  --font-color: #adbac7;
  --alert: #e5534b;
  --border-color: #444c56;
  --button-color:#ffffff;
}
