@import url("./settings.css");
@import url("./themes.css");
@import url("./colors.css");
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  list-style: none;
  font-family: monospace;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --background: var(--eerie-black);
}

body {
  margin: 8px;
  background: var(--background);
}

a.router-link-exact-active {
  color: var(--mint) !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Scroll Bar Color */

::-webkit-scrollbar {
  width: 11px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--onyx) var(--onyx);
}
::-webkit-scrollbar-track {
  background: var(--onyx);
}
::-webkit-scrollbar-thumb {
  background-color: var(--jet);
  border-radius: 6px;
  border: 3px solid var(--onyx);
}
