.settings p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  line-height: 1.425rem;
}
.settings h1 {
  margin: 0 0 1.25rem;
  font-size: 38px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.settings article {
  max-width: 85ch;
}

.settings .grid {
  --columns: 4;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-top: 16px;
  gap: 16px;
}

@media (max-width: 980px) {
  .settings .grid {
    --columns: 3;
  }
}
@media (max-width: 700px) {
  .settings .grid {
    --columns: 2;
  }
}
@media (max-width: 380px) {
  .settings .grid {
    --columns: 1;
  }
}
