.settings p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.settings h1 {
  color: var(--heading-color);
  margin: 0 0 0.5rem;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
}

.settings article {
  max-width: 85ch;
}

.settings .grid {
  --columns: 4;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-top: 1rem;
  gap: 1rem;
}

@media (max-width: 980px) {
  .settings .grid {
    --columns: 3;
  }
}
@media (max-width: 700px) {
  .settings .grid {
    --columns: 2;
  }
}
@media (max-width: 380px) {
  .settings .grid {
    --columns: 1;
  }
}
