html[data-theme="origamid"] {
  --mint: #bba0f3;
  --orange-crayola: #ee5500;
  --white: #f8f5f9;
  --onyx: #111111;
  --eerie-black: #111111;
  --jet: #222222;
  --davys-gray: #333333;
  --platinum: rgba(235, 235, 235, 60%);
}
